.title {
    color: mediumorchid
}

.record {
    width: 400px;
    height: 400px;
    background-color: burlywood;
}

.record:hover .card__content {
    transform: rotate(90deg);
}

.card__content {
    text-align: center;
    position: relative;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}