.title {
    color: mediumorchid
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.record {
    width: 400px;
    height: auto;
    background-color: burlywood;
}

.card__content {
    text-align: center;
    position: relative;
    padding: 5em
}

.record:hover .card__content {
    transform: rotate(90deg);
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}